body {
    margin: 0;
    padding: 0;
    background-color: #c7cef0;
}

.first-page {
    height: 100vh;
    width: 100%;
}

.first-page header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #c7cef0;
    box-shadow: 1px 0px 10px #bdc3e5;
    color: rgb(121, 7, 98);
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.first-page header .logo {
    display: flex;
    align-items: center ;
    margin-left: 30px;
}

.first-page header navbar {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.first-page header navbar a {
    text-decoration: none;
    color: rgb(121, 7, 98);
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s;
}

.first-page header navbar a:hover {
    background-color: #bdc3e5;
}

.first-page .headline {
    height: 89%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.first-page .headline .hetlen {
    font-size: 100px;
}

.first-page .headline .hetlen p {
    margin: 0;
    color: rgb(121, 7, 98);
}

.first-page .headline a {
    text-decoration: none;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 30px;
    color: rgb(121, 7, 98);
}

.first-page .headline .text {
    margin-top: 100px;
}

.first-page .headline .content img{
    display: flex;
    align-items: center;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    transition: 0.3s;
    margin-top: 155px;
}

.second-page {
    height: 100vh;
    width: 100%;
    background-color: #bdc3e5;
}

.second-page header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25%;
    color: rgb(121, 7, 98);
    background: linear-gradient(to bottom, #c7cef0, #bdc3e5);
}   

.second-page header .about h1 {
    font-size: 50px;
    margin-bottom: 0;
    
}


.second-page .services {
    height: 650px;
}

.second-page .services .serpis {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.second-page .services .serpis h1 {
    font-size: 50px;
    margin-left: 50px;
}

.second-page .services .content-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.second-page .services .content-all .content img{
    width: 410px;
    height: 350px;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;
}

.third-page {
    height: 100vh;
    width: 100%;
    background-color: #c7cef0 ;
}

.third-page .header {
    height: 50vh;
    display: flex;
    color: rgb(121, 7, 98);
}

.third-page .header .isi {
    width: 100%;
}

.third-page .header .isi .porto {
    background:linear-gradient(to bottom, #bdc3e5, #c7cef0);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-page .header .isi .porto h1 {
    font-size: 50px;
}

.third-page .header .isi .konten .content-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.third-page .header .isi .konten .content-all .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
}

.third-page .header .isi .konten .content-all .content img {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    transition: 0.3s;
}

.fourth-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #c7cef0, #bdc3e5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(121, 7, 98);
    text-align: center;
    font-family: Arial, sans-serif;
}

.fourth-page .header .isi {
    background-color: white;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    width: 600px;
}

.fourth-page .header .isi h1 {
    font-size: 40px;
    margin-top: 10px;
}

.fourth-page .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-page .contact-form input,
.fourth-page .contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid #bdc3e5;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    resize: none;
}

.fourth-page .contact-form button {
    background-color: rgb(121, 7, 98);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
}

.fourth-page .contact-form button:hover {
    background-color: #bdc3e5;
    color: rgb(121, 7, 98);
    border: 1px solid rgb(121, 7, 98);
}


.content img:hover {
    scale: 1.05;
    transition: 0.3s;
}

#tombol {
    transition: 0.3;
}

#tombol:hover {
    background-color: #bdc3e5;
}

@media (max-width: 1024px) {
    .first-page .headline {
        flex-direction: column;
        justify-content: center;
        align-items: top;
        text-align: center;
        padding: 150px 20px 60px;
    }

    .first-page .headline .text {
        margin: 0;
    }

    .first-page .headline .hetlen {
        font-size: 70px;
    }

    .first-page .headline .content img {
        width: 300px;
        height: auto;
        margin-top: 40px;
    }

    .second-page {
        height: 128vh;
    }

    .second-page .services .content-all {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
    }

    .second-page .services .content-all .content img {
        width: 380px;
        height: 300px;
    }

    .third-page .header .isi .konten .content-all {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding-bottom: 40px;
    }

    .third-page .header .isi .konten .content-all .content {
        height: 180px;
        width: 180px;
    }

    .third-page .header .isi .konten .content-all .content img {
        height: 110px;
        width: 110px;
    }

    .third-page .header .isi .porto h1 {
        text-align: center;
    }

    .fourth-page .contact-form input,
.fourth-page .contact-form textarea {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    border: 1px solid #bdc3e5;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    resize: none;
}

.fourth-page .contact-form button {
    background-color: rgb(121, 7, 98);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
    }
}

@media (max-width: 850px) {
    .second-page .services .content-all .content img {
        width: 350px;
        height: 300px;
    }

}

@media (max-width: 800px) {
    .second-page .services .content-all .content img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    .second-page .services .content-all .content img {
        width: 320px;
        height: 180px;
    }
}
